<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center mx-10">
            <a class="text-white font-bold text-xl" href="/">Emotion Recognition</a>
            <div class="space-x-4">
                <a class="text-white hover:text-gray-500" href="/">Home</a>
                <a class="text-white hover:text-gray-500" href="/emotion_recognition">Emotion Recognition</a>
                <a class="text-white hover:text-gray-500" href="/article">Article</a>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mx-auto mt-8">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
