{% extends "base.html" %}
{% block title %}Article{% endblock %}
{% block content %}
<div class="mx-20">

    <div id="fileInput" class="text-center px-40">
        <h1 class="text-3xl font-bold mb-10 text-gray-700">Upload File</h1>
        <div class="container justify-center mx-auto min-w-full mt-12 mb-12 p-7 bg-gray-200 shadow-lg rounded-lg">
            <!-- Input File -->
            <div class="text-center mx-10 ">
                <div class="items-center ">
                    <!-- Petunjuk -->
                    <div class="text-center mb-6 w-full sm:w-1/2 sm:mb-0 bg-lightgreen w-full mb-10 relative border-2 border-darkgreen mx-auto rounded-lg">
                        <h2 class="text-xl font-semibold text-gray-700 mb-4">Petunjuk</h2>
                        <p class="text-sm text-gray-600">
                            Pilih file gambar dari perangkat Anda untuk mengunggah.
                            Format yang didukung: <span class="font-medium">JPG, PNG</span>.
                        </p>
                    </div>

                    <!-- Input File -->
                    <div class="text-center mt-6 w-full sm:w-1/2 sm:mb-0  w-full mb-10 relative  mx-auto rounded-lg">
                        <input
                            type="file"
                            accept="image/*"
                            id="filei"
                            class="block w-full p-3 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500"
                        >
                        <p class="mt-2 text-sm text-gray-500">Maksimal ukuran file: 5MB.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gambar Hasil -->
    <div id="captured" class="container mx-auto mt-12 p-6 hidden mx-10 text-center ">
        <h1 class="text-3xl font-bold mb-10 text-gray-700">Preview</h1>
        <img id="capturedImage" class="w-1/2 aspect-square object-cover mx-auto sm:w-1/2 mx-auto rounded-lg" alt="Captured Image">
        <a href="/result" class="mt-4 inline-block bg-gray-700 hover:bg-gray-300 text-white rounded-lg px-4 py-2">Analyze</a>
    </div>

    <script src="{{ url_for('static', filename='./javascript/emotion_recognition.js') }}"></script>
</div>
{% endblock %}
